# Make vim the default editor.
export EDITOR='vim';

# Enable persistent REPL history for `node`.
export NODE_REPL_HISTORY=~/.node_history;
# Allow 32³ entries; the default is 1000.
export NODE_REPL_HISTORY_SIZE='32768';
# Use sloppy mode by default, matching web browsers.
export NODE_REPL_MODE='sloppy';

# Make Python use UTF-8 encoding for output to stdin, stdout, and stderr.
export PYTHONIOENCODING='UTF-8';

# Increase Bash history size. Allow 32³ entries; the default is 500.
export HISTSIZE='32768';
export HISTFILESIZE="${HISTSIZE}";
# Omit duplicates and commands that begin with a space from history.
export HISTCONTROL='ignoreboth';

# Prefer US English and use UTF-8.
export LANG='en_US.UTF-8';
export LC_ALL='en_US.UTF-8';

# Highlight section titles in manual pages.
export LESS_TERMCAP_md="${yellow}";

# Don’t clear the screen after quitting a manual page.
export MANPAGER='less -X';

# Python virtualenvwrapper virtualenvs directory
export WORKON_HOME=$HOME/.envs

# Python virtualenvwrapper projects directory
export PROJECT_HOME=$HOME/projects

# Set virtualenv python to system python
export VIRTUALENVWRAPPER_PYTHON=`which python`

# Path for notes
export NOTES_DIR=$HOME/notes/notes

# Text editor for notes
export NOTES_EDITOR=atom

# Set django configurations default to Local
export DJANGO_CONFIGURATION=Local

# COMPONENTS_DIR is the relative path to react components to your project root
export COMPONENTS_DIR=./src/components

# NVM Directory
export NVM_DIR="/Users/$USER/.nvm"

# APM List File for listing apm packages
export APM_LIST_FILE="$HOME/.app_requirements/atom.txt"

# Node/brazil hack
# https://w.amazon.com/index.php/NodeJS/Documentation/UsingNodeJSAtAmazon#Running_Brazil_Node_Scripts_on_OS_X
export NODE_BINARY_PATH=/Users/wfarley/.nvm/versions/node/v0.12.15/bin/node
export I_WANT_NO_DEVTOOLS_SUPPORT_NOW_AND_FOREVER=NODE_BINARY_PATH

