# Make vim the default editor.
export EDITOR='vim';

# Enable persistent REPL history for `node`.
export NODE_REPL_HISTORY=~/.node_history;
# Allow 32³ entries; the default is 1000.
export NODE_REPL_HISTORY_SIZE='32768';
# Use sloppy mode by default, matching web browsers.
export NODE_REPL_MODE='sloppy';

# Make Python use UTF-8 encoding for output to stdin, stdout, and stderr.
export PYTHONIOENCODING='UTF-8';

# For compilers to find readline you may need to set:
export LDFLAGS="-L/usr/local/opt/readline/lib"
export CPPFLAGS="-I/usr/local/opt/readline/include"

# For pkg-config to find readline you may need to set:
export PKG_CONFIG_PATH="/usr/local/opt/readline/lib/pkgconfig"

# Increase Bash history size. Allow 32³ entries; the default is 500.
export HISTSIZE='32768';
export HISTFILESIZE="${HISTSIZE}";
# Omit duplicates and commands that begin with a space from history.
export HISTCONTROL='ignoreboth';

# Prefer US English and use UTF-8.
export LANG='en_US.UTF-8';
export LC_ALL='en_US.UTF-8';

# Highlight section titles in manual pages.
export LESS_TERMCAP_md="${yellow}";

# Don’t clear the screen after quitting a manual page.
export MANPAGER='less -X';

# Path for notes
export NOTES_DIR=$HOME/notes/notes

# Text editor for notes
export NOTES_EDITOR=atom

# NVM Directory
export NVM_DIR="$HOME/.nvm"

# Dot files path
export DOT_FILES_PATH="$HOME/tools/dotfiles"

# APM List File for listing apm packages
export APM_LIST_FILE="$DOT_FILES_PATH/.app_requirements/atom.txt"

# For GPG signing commits
# https://help.github.com/articles/telling-git-about-your-gpg-key/
# also helpful if setting up: https://stackoverflow.com/questions/39494631/gpg-failed-to-sign-the-data-fatal-failed-to-write-commit-object-git-2-10-0
# verify a signature: $ git log --show-signature -1
# verify gpg is working: $ echo "test" | gpg --clearsign
# check existing keys: gpg --list-secret-keys --keyid-format LONG
export GPG_TTY=$(tty)

# Tmux / iterm integration
export ITERM_ENABLE_SHELL_INTEGRATION_WITH_TMUX=YES

# Node/brazil hack
# https://w.amazon.com/index.php/NodeJS/Documentation/UsingNodeJSAtAmazon#Running_Brazil_Node_Scripts_on_OS_X
export NODE_BINARY_PATH=/Users/wfarley/.nvm/versions/node/v0.12.15/bin/node
export I_WANT_NO_DEVTOOLS_SUPPORT_NOW_AND_FOREVER=NODE_BINARY_PATH
export NODE_PATH=../../lib/commonjs:../../node_modules:../../node_modules/npm/node_modules:$NODE_PATH

# Amazon team member aliases (for cr mostly)
export APLUS_PEOPLE="pchangs,cwtai"
export SSPAA_PEOPLE="vainam,jdkilby"
